@font-face {
    font-family: Poppins;
    src: url(@/assets/fonts/Poppins/Poppins-Bold.ttf);
}

@font-face {
    font-family: Macan-Bold;
    src: url(@/assets/fonts/Macan/macan-bold.ttf);
}

@font-face {
    font-family: Macan-light;
    src: url(@/assets/fonts/Macan/macan-light.ttf);
}