@font-face {
    font-family: Poppins;
    src: url(@/assets/fonts/Poppins/Poppins-Bold.ttf);
}

@font-face {
    font-family: Macan-light;
    src: url(@/assets/fonts/Macan/macan-light.ttf);
}

@font-face {
    font-family: Macan-Regular;
    src: url(../../assets/fonts/Macan/macan-regular.woff2);
}

@font-face {
    font-family: Macan-Semibold;
    src: url(../../assets/fonts/Macan/macan-semibold.woff2);
}

@font-face {
    font-family: Macan-Bold;
    src: url(@/assets/fonts/Macan/macan-bold.ttf);
}

// @font-face {
//     font-family: Domaine;
//     src: url(../../assets/fonts/Domaine/domaine-display-web-medium-italic.woff2);
// }