// COLOR PALETTE
//color to action
$cta: #c946bc;
$clr1: #2c3e50;
$clr2: #d581bc;
$clr4: #e3e3e3;
$pop-btn: rgba(65, 21, 99, 0.70);
$btn: rgb(201, 201, 201);
// $clr2: #504658;
// $clr4: #f0decb;
// $clr5: #fff;

// LAYOUT BREAKPOINTS

$mini-breakpoint: 520px;
$mobile-breakpoint: 760px;
$narrow-breakpoint: 1100px;
$normal-breakpoint: 1250px;
$wide-breakpoint: 1460px;


$light-shadow: 0 4px 10px 0 #0000000a;
$border-bottom-shadow: 0 4px 10px 0 #0000000a;