// COLOR PALETTE
$btn-primary: #1dbf73; // btn text
$btn-secondary : #222325; //search btn color
$text-primary: #62646a; //body text, p
$text-secondary: #74767e; //nav text
// $text-third: #b5b6ba;
$background-primary: #fff; // text btn color
$text-third: #404145; // info services text, h2
$text-preview: #b5b6ba;
$background-four: #fafafa; // trusted-by
$about-color: #f1fdf7;
$text-forth: #c5c6c9; //border of input
$rate-color: #ffbe5b; // LAYOUT BREAKPOINTS
$btn-border-gray: #dadbdd;

//TODO:
// $mini-breakpoint: 520px;
// $mobile-breakpoint: 760px;
// $narrow-breakpoint: 1100px;
// $normal-breakpoint: 1250px;
// $wide-breakpoint: 1460px;

// $light-shadow: 0 4px 10px 0 #0000000a;
$border-bottom-line: 1px solid #e4e5e7;