.details-page {
    font: 400 16px/24px Macan,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: 400;
    font-stretch: normal;
    font-size: 16px;
    line-height: 24px;
    font-family: Macan, "Helvetica Neue", Helvetica, Arial, sans-serif;

    .details {
        position: relative;
        padding: 2em 2em 0;
        max-width: 1304px;
        margin: 0 auto;
        .details-main {
            width: 57.42%;
            margin-right: 9.15%;
        }
        .details-side-bar {
            position: absolute;
            top: 2em;
            right: 2em;
            height: 100vh;
        }
    }
}