.gig-about {
    margin-bottom: 4em;
    
    h1 {
        line-height: em(28px);
        font-size: em(20px);
        padding-bottom: em(25px);
        color: $text-third;
    }
    p {
        margin: 0;
    }
}