.gig-header-container{
    margin-bottom: 1.5em;
    font-size: 1em;
    p {
        line-height: 130%;
        font-family: Macan-Bold;
        margin: 0;
        font-size: 1.75em;
        padding-bottom: 1em;
        color: $text-third;
    }
}