.owner-review {
    li {
        font-size: em(14px);
        border-top: $border-bottom-line;
        padding: 1em 0 2em 2.75em;
        color: $text-third;
        line-height: 22px;
        
        .gig-preview-user {
            float: left;
            margin-left: -3em;
            img {
                height: 32px;
                width: 32px;
            }
        }
        
        article {
            line-height: 100%;
            font-family: Macan-Bold;
            .svg-container {
                padding: 0 .3em;
                svg {
                    height: 14px;
                    width: 14px;
                }
            }
            .helpful {
                padding-right: 1em;
            }
        }
    }
}
