.owner-about {
    line-height: 130%;
    margin-bottom: 4em;

    h1 {
        line-height: em(28px);
        font-size: em(20px);
        padding-bottom: em(25px);
    }

    .about-container {
        border: $border-bottom-line;
        border-radius: 3px;
        padding: 1.5em;

        ul {
            border-bottom: $border-bottom-line;

            li {
                width: 50%;

                strong {
                    display: block;
                    padding-top: 0.25em;
                    font-weight: 700;
                }
            }
        }
        article {
            padding-top: em(15px);
            line-height: 150%
        }
    }
}
