.about-container {
    // background-color: $about-color; 
    background-color: lightcoral; // TODO: delete and change to about-color
    // height: em(705px);
    margin-bottom: em(96px);
}

.text-video-container {
    // padding: em(96px) em(32px);
}

.text-container {

    height: em(514px);
    width: em(472px);
    // padding: 0 em(150px) 0 em(16px);

    h1 {
        font-family: Macan-bold;
        font-size: em(32px);
        color: $text-third;
    }
}