.app-footer {
    height: rem(55px);
    // position: fixed;
    width: 100%;
}

.main-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #e4e5e7;
}

.footer-social {
    justify-content: space-between;
    width: em(248px);

    .icon {
        fill: $text-secondary;
    }
}

.copy-right {
    margin-left: em(24px);
    color: #b5b6ba;
    font-size: em(14px);
    line-height: em(21px);
}