.main-nav {

    .main-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    a {
        color: $text-primary;
        font-family: Macan-bold;
        text-decoration: none;
        // padding: rem(7px) rem(15px);
        transition: all 0.3s ease-in-out;
    }

    li {
        // padding: 0 20px;
        padding-inline-start: 20px;
    }

    button {
        padding: em(7px) em(15px);
        // font-family: Macan-Bold;
        border-color: $btn-primary;

        span {
            color: $btn-primary;
        }
    }

    .el-button {
        height: rem(30px);
        width: rem(71px);

        &:hover {
            background-color: $btn-primary;

            span {
                color: $background-primary;
            }
        }
    }

    .login-user-img {
        border-radius: 50%;
        width: 32px;
        padding: unset;
        align-self: flex-end;
    }

    .el-button--success {
        // --el-button-text-color: $btn-primary;
        --el-button-text-color: $background-primary;
        --el-button-bg-color: transperant;
        --el-button-width: em(71px);
    }

    // .user-image {
    //     background-color: $background-primary;
    //     height: 40px;
    //     width: 40px;
    //     // padding: 15px;
    //     font-family: Macan-bold;
    //     border-radius: 50%;
    //     border: 1px solid $text-primary;
    // }
}