.app-header {
    background-color: transparent;
    border-bottom: $border-bottom-line;
    // position: absolute;
    // z-index: 100;

    //TODO: show and hide stick navbar
    // position: fixed;
    // top: 0;
    // left: 0;
    // right: 0;
    // transition: all 0.3s ease-in-out;

    .main-header-container {
        display: block;
    }

    .main-header {
        display: flex;
        align-items: center; //TODO: TALLLLLLLLL!! helper d'ont work
        height: rem(80px);
        padding: 1em 0;
        justify-content: space-between;

        .main-container {
            // font-family: 'Macan,Helvetica Neue, Helvetica,Arial,sans-serif';
            font-weight: 400px;
            font-size: 1rem;
        }
    }
}

.logo-and-filter {
    justify-content: space-between;
}