.app-header {

    //TODO: show and hide stick navbar
    // position: fixed;
    // top: 0;
    // left: 0;
    // right: 0;
    transition: all 0.3s ease-in-out;

    .main-header-container {
        display: block;
        border-bottom: $border-bottom-line;
    }

    .main-header {
        display: flex;
        align-items: center;
        height: rem(80px);
        padding: 1em 0;
        justify-content: space-between;

        .main-container {
            // font-family: 'Macan,Helvetica Neue, Helvetica,Arial,sans-serif';
            font-weight: 400px;
            font-size: 1rem;
        }
    }
}

.logo-and-filter {
    justify-content: space-between;
}

.in-homepage {
    background-color: transparent;
    position: fixed;
    z-index: 100;
    width: 100%;

    .main-header-container {
        border-bottom: transparent 0px solid;
    }

    .app-logo-in-homepage {
        a {
            color: $background-primary;
        }
    }

    .gig-filter-in-homepage{
        display: none;
    }

    .app-nav-in-hompage {

        a {
            color: $background-primary;
        }

        button {
            border-color: $background-primary;

            span {
                color: $background-primary;
                // color: $btn-primary;
            }
        }

        .el-button--success {
            --el-button-text-color: $btn-primary;
            // --el-button-text-color: $background-primary;
        }

        .category-filter {
            display: none;
        }
    }

    .category-filter-in-homepage {
        display: none;
    }
}

.sticky {
    background-color: $background-primary;
    position: sticky;
    z-index: 100;
    top: 0px;
    transition: all 0.3s ease-in-out;
}