.main-nav {
    .main-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    a {
        color: $text-secondary;
        font-weight: 600;
        text-decoration: none;
        padding: rem(7px) rem(15px);
        transition: all 0.3s ease-in-out;
    }

    button {
        padding: em(7px) em(20px);
    }
}

.el-button--success {
    --el-button-text-color: $btn-primary;
    --el-button-bg-color: transperant;

    :hover {
        --el-button-text-color: transperant;
        --el-button-bg-color: $btn-primary;
    
    }
}