.main-nav {

    font-family: Macan-Bold;

    .main-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    a {
        color: $text-secondary;
        font-weight: 600;
        text-decoration: none;
        padding: rem(7px) rem(15px);
        transition: all 0.3s ease-in-out;
    }

    button {
        padding: em(7px) em(20px);
        font-family: Macan-Bold;

    }

    .el-button {
        height: rem(30px);
        width: rem(71px);

        &:hover {
            background-color: $btn-primary;
        }
    }

    .el-button--success {
        --el-button-text-color: $btn-primary;
        --el-button-bg-color: transperant;
        --el-button-width: em(71px);
    }


    :hover {
        --el-button-text-color: transperant;
        --el-button-bg-color: red;

    }
}