.app-header {
    background-color: $background-primary;
    border-bottom: $border-bottom-line;

    //TODO: show and hide stick navbar
    // position: fixed;
    // top: 0;
    // left: 0;
    // right: 0;
    // transition: all 0.3s ease-in-out;

    .app-logo {
        a {
            font-family: Poppins;
            color: $text-third;
            font-size: 1.9rem;

            span {
                color: $btn-primary;
            }
        }
    }

    .main-header {
        display: flex;
        align-items: center; //TODO: TALLLLLLLLL!! helper d'ont work
        height: 5rem;
        padding: 1em 0;

        .main-container {
            // font-family: 'Macan,Helvetica Neue, Helvetica,Arial,sans-serif';
            font-weight: 400px;
            font-size: 1rem;
        }
    }
}