.gig-list-filter {
    .el-select {
        padding-right: rem(20px);

        .color {
            color: black;
        }

        .el-input__inner {
            color: black;
            font-weight: bold;
            font-size: rem(16px);
            // color: chartreuse !important;
            // background-color: aqua;
        }

        .radio-group-container {
            height: rem(386px);
            max-height: rem(386px);
        }

        .el-input__wrapper {
            max-width: 160px;
            height: 38px;
        }

        .el-option {}

        // .el-input__inner:read-only {
        //     color: aliceblue;
        //     color: chartreuse !important;
        //     font-weight: bold;
        //     // background-color: aqua;
        // }

    }

}