.gig-list-filter {
    .el-select {

        padding-right: rem(20px);
        // border in focus TODO: asi
        --el-select-input-focus-border-color: #dadbdd;
        --el-text-color-placeholder: #222325;

        // &.selected {
        //     --el-select-input-focus-border-color: #a6eaca;
        //     --el-text-color-placeholder: #1dbf73;
        // }
    }

    

    .el-input__inner {
        font-size: rem(16px);
        font-family: Macan-Bold;
    }

    .el-input__wrapper {
        max-width: 160px;
        height: 38px;
    }

    .radio-btn {
        // width: 260px;
        max-width: 160px;
    }
}

.el-select-dropdown__item {
    &.selected {

        color: gray;
    }
}