.hero-container {
    position: relative;
}

.hero-background {
    height: 42.5rem;
    transition: 1s;
    // background-image: url(https://fiverr-res.cloudinary.com/image/upload/q_auto,f_auto/v1/attachments/generic_asset/asset/2413b8415dda9dbd7756d02cb87cd4b1-1599595203045/bg-hero-2-1792-x1.png);

}

.hero {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
}

.hero-header {
    max-width: em(650px);
    
    .header {
        color: $background-primary;
        font-size: em(48px);
        line-height: rem(56px);
        font-family: Macan-bold;
        margin-bottom: rem(24px);
    
    
        i {
            font-family: Macan-semibold;
            font-style: italic;
        }
    }
}


.popular {
    font-size: em(14px);
    line-height: em(27px);
    color: $background-primary;
    font-family: Macan-Bold;
    height: em(27px);
    width: em(650px);

    div {
        padding-top: em(24px);
    }

    p {
        margin: 0;
    }

    ul {
        width: 100%;
        margin-left: em(12px);
        margin-top: 0;
    }

    li {
        margin-right: em(12px);
        padding-top: em(12px);
    }

    a {
        background-color: transparent;
        line-height: 24px;
        color: $background-primary;
        padding: 1px 12px 0;
        border: 1px solid $background-primary;
        border-radius: em(40px);

        &:hover {
            background-color: $background-primary;
            color: $text-third;
        }
    }
}

// .hero-main-header {
//     background-color: transparent;
// }

// .hero {
//     height: 42.5rem;
//     background-image: url(https://fiverr-res.cloudinary.com/image/upload/q_auto,f_auto/v1/attachments/generic_asset/asset/2413b8415dda9dbd7756d02cb87cd4b1-1599595203045/bg-hero-2-1792-x1.png);

//     position: relative;
//     display: flex;
//     background-repeat: no-repeat;
//     background-size: cover;
//     background-position: center;
// }