.order-preview {
    // text-align: center;
    width: 100%;

    .userPre {
        // flex-grow: 1;
        min-width: 300px;
    }
    .gig-title {
        width: 500px;
    }
    .date {
        width: 150px;
    }
    .price {
        width: 100px;
    }
    .status {
        width: 110px;
    }

    button {
        width: 110px;
        text-transform: capitalize;
        font-size: 12px;

        &.rejected {
            background-color: rgb(237, 71, 71);
        }

        &.pending {
            background-color: rgb(49, 119, 239);
        }

        // &.complete {
        //     // background-color: ;
        // }

        &.on-progress {
            background-color: rgb(237, 148, 46)
        }

    }

    padding: 20px 15px;
    border-bottom: 1px solid #e4e5e7;

    .gig-title {
        overflow: hidden;
        max-width: 55ch;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .more-btn {
        width: 30px;

        .fa-ellipsis-v {
            padding-left: 30%;
        }
    }


}