.popular-categories-list-container {
    h1{
        color: $text-third;
        font-size: em(32px);
        font-family: Macan-bold;
        line-height: 120%;
        padding-bottom: em(24px);
    }
}

.vueperslide__content-wrapper {
    display: flex;
    text-align: left;
    padding: 0;
}

.vueperslide__content-wrapper:not(.vueperslide__content-wrapper--outside-top):not(.vueperslide__content-wrapper--outside-bottom) {
    flex-direction: column-reverse;
    justify-content: start;
    align-items: baseline;
    padding-top: 18px;
    padding-left: 12px;

}

.vueperslide__title {
    color: $background-primary;
    // padding: em(16px);
    position: relative;
    z-index: 1;
    font-family: Macan-bold;
    font-size: em(24px);
    line-height: 130%;
}

.vueperslide__content {
    color: $background-primary;
    // padding: em(16px);
    position: relative;
    z-index: 1;
    font-size: em(14px);
    line-height: em(20px);
}

.vueperslide {
    width: 10%;
}