.signup-image {
    background-image: url("https://fiverr-res.cloudinary.com/q_auto,f_auto,w_1400,dpr_1.0/v1/attachments/generic_asset/asset/50218c41d277f7d85feeaf3efb4549bd-1599072608122/bg-signup-1400-x1.png");
    // background-color:red;
    width: 1336px; // TODO: Fix to rem
    height: 440px; // TODO: Fix to rem
    margin: auto;
    margin-bottom: 70px;
 
}