.trusted-by-container {
    background-color: $background-four;
    margin-bottom: em(96px);
    
}

.trusted-by {
    height: em(95px);
    padding: 32px 32px 64px;
    margin: 20.5px auto;

    .trusted-by-title {
        color: $text-preview;
        font-family: Macan-bold;
        padding-right: em(20px);
        font-size: em(16px);
        line-height: 5em;
    }

    ul {
        height: em(95px);
        width: em(665px);
        padding: 0 24px;

    }

    li {
        padding-right: em(60px);
    }

    img {
        width: 120%;
        height: em(60px);
    }
}

// .trusted-by-list {
//     justify-content: center;
//     align-items: center;
//     width: 660px;

//     >*:not(:last-child) {
//         margin-inline-end: 15px;
//     }

//     img {
//         height: em(95px);
//         padding: 0 24px;
//     }

// }