.gig-preview {
    border: $border-bottom-line;
    a {
        text-decoration: none;
    }
}

.gig-preview-container {
    width: 324px;

    .gig-preview-content {

        .gig-preview-title {
            line-height: 21px;
            cursor: pointer;
            color: $btn-secondary;
            font-weight: 400;
            height: 43px;
            overflow: hidden;
            padding: 0 12px 3px;
            margin-top: 7px;
            word-wrap: break-word;
            word-break: break-word;
            text-decoration: none;
        }
    }

    .gig-preview-header {
        height: 12.125rem;

        .gig-image {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }

    .gig-preview-owner {
        display: flex;
        align-items: center;
        height: 3.375em;
        padding: 13px 13px 8px;

        .owner-image {
            border-radius: 50%;
            border: none;
            width: 24px;
            height: 24px;
        }

        .owner-info {
            display: flex;
            flex-direction: column;
            padding-inline-start: 5px;
            font-size: 14px;

            .name {
                color: $btn-secondary;
                line-height: 18px;
                font-weight: 600;
                font-family: Macan-Bold;
            }

            .level {
                color: $text-secondary;
                font-weight: 500;
                line-height: 21px;
            }
        }

    }

    .gig-rate-container {
        font-weight: 400;
        padding: 12px 12px 8px;
        font-size: 14px;
        vertical-align: -0.16em;

        .owner-rate {
            width: 15px;
            height: 15px;
            margin-right: 3px;
            color: $rate-color;
            font-family: Macan-Bold;

            svg {
                padding-top: 2px;
            }
        }

        .rate-sum {
            color: $text-third;
            color: #b5b6ba;
            font-weight: 400;
            margin-left: 2px;
        }

    }

    .footer {
        border-top: $border-bottom-line;
        padding: 10px 12px;
        height: 59px;
        text-align: end;
        color: $text-preview;
        fill: $text-preview;

        .price-line-brake {

            small {
                font-size: 10px;
                font-family: Macan-Bold;
                color: $text-secondary;
                padding: 4px;
            }

            span {
                padding-bottom: 4px;
            }

        }


    }

}