.gig-preview {
    // background-color: rgb(247, 179, 179);
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // overflow: hidden;

    // TODO: replace to grid
    // min-height: 370px;
    // width: 326px;
    // grid-template-columns: repeat(4, 1fr);
    // grid-gap: 32px;
    height: 400px;
    border: $border-bottom-line;
}

.gig-preview-container {
    width: 324px;
    border-bottom: $border-bottom-line;

    .gig-preview-content {

        padding: 0 0.2rem 0.312rem;

        .gig-preview-title {
            line-height: 21px;
            margin: 3px 0 0;
            padding: 0 12px 5px;
        }
    }

    .gig-preview-header {
        height: 12.125rem;

        .gig-image {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }

    .gig-preview-owner {
        display: flex;
        align-items: center;
        height: 3.375em;
        padding: 12px 12px 8px;

        .owner-image {
            border-radius: 50%;
            border: none;
            width: 24px;
            height: 24px;
        }

        .owner-info {
            display: flex;
            flex-direction: column;
            padding-inline-start: 5px;
            // font: 400 16px/24px Helvetica, Helvetica, Arial, sans-serif;
            // font-family: Helvetica, Arial, sans-serif;
        }

    }

    .gig-rate-container {
        color: #ffbe5b;
        font-weight: 100;
        padding: 12px 12px 8px;

        span {
            width: 15px;
            height: 15px;
            margin-right: 5px;
            vertical-align: -0.16em;
        }

        .rate-sum {
            color: #b5b6ba;
        }
    }

}