.trusted-by-container {
    background-color: $background-four;
}

.trusted-by {
    display: flex;

    .trusted-by-title {
        color: #b5b6ba;
        font-weight: 600;
        padding-top: 20px;
        line-height: 5em;
    }

    .trusted-by-list {
        display: flex;
        width: 660px;

        img {
            height: 60px;
            padding: 0 24px;
        }
    }
}