.user-preview {
    .preview {
        font-size: 14px;
        .rate {
            display: none;
        }
        
        &:hover {
            .gig-preview-content{
                .gig-preview-title {
                    color: $btn-primary;
                    // background-color: aqua;
                }
            }
        }
    }
    .header {
        .user-info {
            font-size: 16px;
            align-items: center;
            .level {
                padding-left: 1em;
            }
        }
        .rateSum {
            padding-left: .5em;
            display: block;
        }    
    }
    .ownerDetails {
        padding-bottom: 1em;
        .user-image {
            width: 8em;
            height: 8em;
        }
        .user-info {
            flex-direction: column;
            .name {
                padding-bottom: 1em;
            }
            .contact {
                display: block;
            }
            .level {
                display: none;
            }
        }
    }

    .dashboard {
        .rate {
            display: none;
        }
    }
    
    .user-image {
        border-radius: 50%;
        border: none;
        width: 24px;
        height: 24px;
    }
    
    .rateSum {
        display: none;
    }

    .user-info {
        padding-inline-start: 5px;
        margin-left: 5px;

        .name {
            color: $btn-secondary;
            line-height: 18px;
            font-weight: 600;
            font-family: Macan-Bold;
        }

        // .rate {
        //     padding-top: .3em;
        // }

        .level {
            color: $text-secondary;
            font-weight: 500;
            line-height: 21px;

            &.topRated {
                color: $rate-color;
            }
        }
        .contact {
            display: none;
            margin-top: 2em;
            color: #62646a;
            border: 1px solid #62646a;
            background-color: white;
            font-family: Macan-Bold;
            font-size: 14px;
            
            &:hover {
                color: white;
                background-color: #62646a;
            }
        }
    }
}
