* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

html {
    color: $clr1;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: normal;
    line-height: 1.3;
    padding: 0;
}

p {
    margin: 0 0 1em;
    max-width: 54ch;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    all: unset;

    &:hover {
        cursor: pointer;
    }

    &:disabled {
        color: gray;
        opacity: 0.6;
        cursor: auto;
    }
}

/* FOOTER */
footer {
    padding: 8px 0;
    background-color: rgb(233, 233, 233);
}

/* ERROR */

.error-msg {
    font-size: 0.9em;
    color: red;
}