.btn-basic {
  // background: $cta;
  // font-weight: bold;
  // color: #ffffff;
  // height: 32px;
  // padding: 8px 15px;
  // border-radius: 4px;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  background-color: crimson;
}

.btn-basic:hover {
  // background: $clr2;
  background-color: chartreuse;
}

.btns-container {
  // display: flex;
  // align-items: center;
  background-color: aliceblue;
}